#start {
    background: url('../assets/images/start-background.jpeg') no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#results {
    background: url('../assets/images/start-background.jpeg') no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#profile {
    background: url('../assets/images/start-background.jpeg') no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
